.title {
  margin-top: 50px;
  font-size: 44px;
  text-align: center;
}

/*body {*/
/*  background: lightgrey;*/
/*}*/

.main {
  margin-top: 44px;
  display: flex;
  justify-content: center;
}

.wrapper-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: #3369F3;
  border-radius: 8px;
  border-width: unset;
  border-color: #3369F3;
  border-style: unset;
  font-size: 14px;
  color: #fff;
  width: 280px;
  height: 37px;
  cursor: pointer;


  &:hover {
    background-color: #6892FAFF;
  }
}