.main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-panel {
    width: 310px;
    border-right: 1px solid #EAEAEA;
    text-align: end;
}

.wrapper-search {
    display: flex;
    justify-content: center;
    color: #999999;
}

input {
    text-align: center;
    background-color: #EFEFEF;
    border: 0;
    width: 290px;
    padding: 10px 0;
    font-size: 12px;

    &::placeholder {
        color: #999999;
        opacity: 1;
    }

    &:focus {
        outline: none;
    }

    &::-ms-clear {
        display: none;
    }
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.all-message {
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

p {
    color: #999999;
    font-size: 12px;
    font-weight: 500;
}